@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-radius: 0 !important;
  }
  body {
    @apply bg-background text-on_surface font-sans;
  }
}

@layer utilities {
  .text-display-lg {
    font-size: 3.5rem;
    letter-spacing: -0.04em;
    line-height: 1.1;
  }
  .text-headline-md {
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .text-body-lg {
    font-size: 1rem;
    line-height: 1.6;
  }
  .text-label-md {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
  }
}
